%% -*- erlang -*-
{erl_opts, [{parse_transform, lager_transform}, debug_info,
             {i, "../deps/emysql/include"}]}.

{deps_dir, "../deps"}.

{deps, [
  {lager, ".*", {git, "https://github.com/imdeps/lager.git", "release"}},
  {thrift, ".*", {git, "https://github.com/imdeps/thrift.git", "release"}},
  {hash_ring, ".*", {git, "https://github.com/imdeps/hash_ring.git", "release"}},
  {jiffy, ".*", {git, "https://github.com/imdeps/jiffy.git", "release"}},
  {eredis, ".*", {git, "https://github.com/imdeps/eredis.git", "release"}},
  {emysql, ".*", {git, "https://github.com/imdeps/emysql.git", "release"}},
  {lhttpc, ".*", {git, "https://github.com/imdeps/lhttpc.git", "release"}},
  {cowboy, ".*", {git, "https://github.com/imdeps/cowboy.git", "release"}},
  {pooler, ".*", {git, "https://github.com/imdeps/pooler.git", "release"}}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
